body {
    scroll-behavior: smooth;
}

.bg-image-shopping-bags {
    background-image: url('/img/shopping-bags.jpg');
}

.bg-multiply {
    background-blend-mode: multiply;
}

.bg-black-50 {
    background-color: rgba(0, 0, 0, 0.5);
}

.no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
}